@import 'fonts/fonts.css';

html {
    font-family: 'IBMPlexSans';
    background-color: #1F1F1F;
    color: #FDFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    color: #0099FF;
    text-decoration: none;
}

#outer {
    position: relative;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#logo {
    width: min(600px, 60%);
    height: auto;
}

#logo > img {
    width: 100%;
    height: 100%;
}

#tags {
    display: flex;
    justify-content: center;
    gap: 12px;
}

#hello {
    text-align: center;
    font-size: 24px;
}

#blog {
    font-size: 32px;
    margin-top: 128px;
}

#name {
    font-weight: bold;
    color: #FDFFFF;
    font-size: 48px;
}

#tags > a > img {
    width: 36px;
}

#x-tag > img {
    height: 32px;
}

@media screen and (max-device-width: 600px) {
    #hello {
        top: 15vh;
        font-size: 48px;
    }

    #tags {
        top: 60vh;
        gap: 24px;
    }

    #tags > a > img {
        width: 64px;
    }

    #x-tag > img {
        height: 56px;
    }

    #name {
        top: 70vh;
        font-size: 96px;
    }
}
