@import 'fonts/fonts.css';

html, body {
    background-color: #1F1F1F;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#banner {
    background-image: url('images/logo_planet_large_upscale_touchup.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -35vh;
    left: 0px;
    width: 100%;
    height: 150vh;
}

#tags {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 57vh;
    left: 0px;
    width: 100%;
    gap: 12px;
}

#hello {
    font-family: 'IBMPlexSans';
    position: absolute;
    top: 20vh;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#hello > a {
    color: #FDFFFF;
}

#name {
    font-family: 'IBMPlexSans';
    font-weight: bold;
    position: absolute;
    top: 65vh;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #FDFFFF;
    font-size: 64px;
}

#tags > a > img {
    width: 36px;
}

#x-tag > img {
    height: 32px;
}

@media screen and (max-device-width: 600px) {
    #hello {
        top: 15vh;
        font-size: 48px;
    }

    #tags {
        top: 60vh;
        gap: 24px;
    }

    #tags > a > img {
        width: 64px;
    }

    #x-tag > img {
        height: 56px;
    }

    #name {
        top: 70vh;
        font-size: 96px;
    }
}
